{% extends "baseNavbar.html" %}

{% block content %}

{% if cadastrar %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p class="alert alert-danger">{{ message }}</p>
  {% endfor %}
{% endif %}
{% endwith %}
<form  method = "POST">
   
    <div class="form-group">
        {{ ClienteForm.csrf_token }} 
        <label for="cpf">CPF</label>
        {{ ClienteForm.cpf(id="cpf",class="form-control", placeholder="123.456.789-00")}}
    </div>
    <div class="form-group">
        <label for="nome">Nome do Cliente</label>
        {{ ClienteForm.nome(class="form-control", id="nome", placeholder="Cliente") }}
        </div>

    <div class="form-group">
        <label for="Telefone">Telefone do Cliente</label>
        {{ ClienteForm.telefone(class="form-control", id="Telefone", placeholder="Telefone") }}
    </div>

    <div class="form-group">
        <label for="endereco">Endereço do Cliente</label>
        {{ ClienteForm.endereco(type="endereco",class="form-control", id="endereco", placeholder="Rua Exemplo, 144") }}
    </div>
   
        <div class="mb-3">
          <label for="Complemento">Complemento<span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="Complemento" name="Complemento" placeholder="Ex: Apartamento">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
              <label for="Estado">Estado</label>
              <input type="text" class="form-control" id="Estado" name="Estado" placeholder="EX: São Paulo"required>
              <div class="invalid-feedback">
                  Estado Obrigatório.
                </div>
          </div>
          <div class="col-md-4 mb-3">
              <label for="Cidade">Cidade</label>
              <input type="text" class="form-control" id="Cidade" placeholder="Ex: Mauá" name="Cidade"required>
              <div class="invalid-feedback">
                  Cidade é Obrigatório.
                </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="CEP">CEP</label>
            <input type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex: 09300-000" required>
            <div class="invalid-feedback">
              CEP é Obrigatório.
            </div>
          </div>
        </div>
     <button type="submit" class="btn btn-primary" action="/cliente/cadastrar/">Enviar</button>
  </form>
  
  {%else%}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %} 
  <form  method = "POST">
  {{ ClienteForm.csrf_token }} 
  {% if pesquisa %} 
  
    {%for fon in clientes%}

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control" id="cpf" name="cpf"value="{{fon.CPF}}">
      
    </div>
    <div class="form-group">
      <label for="cliente">Nome do Cliente:</label>
      <input type="text" class="form-control" id="cliente" name="cliente"value="{{fon.nome}}">
      
    </div>
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="telefone" class="form-control" id="telefone" name="telefone" value="{{fon.telefone}}">
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input type="endereco" class="form-control" id="endereco" name="endereco" value="{{fon.Endereco}}">
    </div>
        <div class="mb-3">
          <label for="Complemento">Complemento<span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="Complemento" name="Complemento" placeholder="Ex: Apartamento" value="{{fon.Complemento}}">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
              <label for="Estado">Estado</label>
              <input type="text" class="form-control" id="Estado" name="Estado" placeholder="EX: São Paulo"value="{{fon.Estado}}"required>
              <div class="invalid-feedback">
                  Estado Obrigatório.
                </div>
          </div>
          <div class="col-md-4 mb-3">
              <label for="Cidade">Cidade</label>
              <input type="text" class="form-control" id="Cidade" placeholder="Ex: Mauá" name="Cidade"value="{{fon.Cidade}}"required>
              <div class="invalid-feedback">
                  Cidade é Obrigatório.
                </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="CEP">CEP</label>
            <input type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex: 09300-000" value="{{fon.CEP}}"required>
            <div class="invalid-feedback">
              CEP é Obrigatório.
            </div>
          </div>
        </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary" formaction="/cliente/deletar/{{fon.CPF}}" style={% if pesquisa %} "display:Line"{%else%}"display:none"{%endif%}>Excluir Cliente</button>
    <button type="submit" class="btn btn-primary" formaction="/cliente/atualizar/{{fon.CPF}}" style={% if pesquisa %} "display:Line"{%else%}"display:none"{%endif%}>Atualizar Cliente</button>         
    </div>
    {%endfor%}
    {%else%}
    <div class="form-group">
      {{ ClienteForm.csrf_token }} 
      <label for="cpf">CPF</label>
      {{ClienteForm.cpf(id="cpf",class="form-control", placeholder="CPF do Cliente", pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}")}}
      </div>
      <div class="form-group">
        {{ ClienteForm.nome(class="form-control", id="nome", placeholder="cliente",value="nome",style="display:none")}}
      </div>
  
      <div class="form-group">
        {{ ClienteForm.telefone(type="telefone",class="form-control", id="telefone", placeholder="Seu Telefone",value="(11) 94176-0466",style="display:none") }}
     </div>

     <div class="form-group">
        {{ ClienteForm.endereco(type="endereco",class="form-control", id="endereco", placeholder="Seu Endereço",value="Rua das Ruas",style="display:none") }}
     </div>
      {%endif%}
    <div class="form-group">
    <button type="submit" class="btn btn-primary" style = {% if pesquisa %}"display:none"{%endif%}>{% if pesquisa %} Voltar{%else%} Pesquisar{%endif%}</button>
    </div>
    <div class="form-group">
    </div>
    
{% endif %}

</form>

{% endblock %}