{% extends "baseNavbar.html" %}

{% block content %}
{% if cadastrar %}
<form  method = "POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %} 
    <div class="form-group">
        {{ FornecedorForm.csrf_token }} 
        <label for="CNPJ">CNPJ</label>
        {{FornecedorForm.cnpj(id="cnpj",class="form-control", placeholder="CNPJ da empresa")}}
    </div>
    <div class="form-group">
        <label for="nome">Nome do fornecedor</label>
        {{ FornecedorForm.fornecedor(class="form-control", id="nome", placeholder="fornecedor") }}
        </div>

    <div class="form-group">
        <label for="Email1">Endereço de email</label>
        {{ FornecedorForm.email(type="email",class="form-control", id="Email1", placeholder="Seu email") }}
    </div>

     <button type="submit" class="btn btn-primary" action="/fornecedor/cadastrar/">Enviar</button>
  </form>
  
  {%else%}
  <form  method = "POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %} 
  {{ FornecedorForm.csrf_token }} 
  {% if pesquisa %} 
    <div class="form-group">
      <label for="cnpj">CNPJ:</label>
      <input type="text" class="form-control" id="cnpj" name="cnpj" value="{{fornecedores.cnpj}}" readonly="readonly">
      
    </div>
    <div class="form-group">
      <label for="fornecedor">Nome do fornecedor:</label>
      <input type="text" class="form-control" id="fornecedor" name="fornecedor"value="{{fornecedores.nome}}">
      
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{fornecedores.email}}">
    </div>
    
    
    <div class="form-group">
    <button type="submit" class="btn btn-primary" formaction="/fornecedor/deletar/" style={% if pesquisa %} "display:Line"{%else%}"display:none"{%endif%}>Excluir Fornecedor</button>
    <button type="submit" class="btn btn-primary" formaction="/fornecedor/atualizar/" style={% if pesquisa %} "display:Line"{%else%}"display:none"{%endif%}>Atualizar Fornecedor</button>         
    </div>
    {%else%}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %}  
    <div class="form-group">
      {{ FornecedorForm.csrf_token }} 
      <label for="CNPJ">CNPJ</label>
      {{FornecedorForm.cnpj(id="cnpj",class="form-control", placeholder="CNPJ da empresa")}}
      </div>
      <div class="form-group">
        {{ FornecedorForm.fornecedor(class="form-control", id="nome", placeholder="fornecedor",value="nome",style="display:none")}}
      </div>
  
      <div class="form-group">
        {{ FornecedorForm.email(type="email",class="form-control", id="Email1", placeholder="Seu email",value="email@email",style="display:none") }}
     </div>
      {%endif%}
    <div class="form-group">
    <button type="submit" class="btn btn-primary" style = {% if pesquisa %}"display:none"{%endif%}>{% if pesquisa %} Voltar{%else%} Pesquisar{%endif%}</button>
    </div>
    <div class="form-group">
    </div>
    
{% endif %}

</form>
{% endblock %}