{% extends "baseNavbar.html" %}
{% block content %}
<form action = "/fornecedor/cadastrar/" method = "POST">
    {% if cadastrar %}    
    <div class="form-group">
        {{ FornecedorForm.csrf_token }} 
        <label for="CNPJ">CNPJ</label>
        {{FornecedorForm.cnpj(id="CNPJ",class="form-control", placeholder="CNPJ da empresa")}}
    </div>
    <div class="form-group">
        <label for="nome">Nome do fornecedor</label>
        {{ FornecedorForm.fornecedor(class="form-control", id="nome", placeholder="fornecedor") }}
        </div>

    <div class="form-group">
        <label for="Email1">Endereço de email</label>
        {{ FornecedorForm.email(type="email",class="form-control", id="Email1", placeholder="Seu email") }}
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
   
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  
  {%else%}
      <div class="form-group">
        <label for="exampleFormControlSelect1">Fornecedor</label>
        <select class="form-control" id="exampleFormControlSelect1">
          {% for fornecedor in fornecedores %}
            <option>{{ fornecedor.nome }}</option>
          {% endfor %}
          </select>
      </div>
      <div class="form-group"> 
        <label for="CNPJ">CNPJ</label>
        {{FornecedorForm.cnpj(id="CNPJ",class="form-control", placeholder="CNPJ da empresa")}}
    </div>
    <div class="form-group">
        <label for="Email1">Endereço de email</label>
        {{ FornecedorForm.email(type="email",class="form-control", id="Email1", placeholder="Seu email") }}
    </div>
      
      {% endif %}

    
            
{% endblock %}