{% extends "base.html" %}
{% block head %}
<link href="{{ url_for('static', filename = 'signin.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<form class="form-signin" action = "/" method = "POST">
    {{ LoginForm.csrf_token }}
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">RMJS Vidros</h1>
    <label for="User" class="sr-only">Usuario</label>
    {{LoginForm.username(class="form-control", placeholder="Usuario") }}
    <label for="inputPassword" class="sr-only">Password</label>
    {{LoginForm.password(id="inputPassword", class="form-control", placeholder="Password")}}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>   
{% endblock %}
 