{% extends "baseNavbar.html" %}
{% block content %}

<div class="container">
  <div class="py-5 text-center">
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <div id="produto">
        
      </div>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Produtos</h4>
      <form class="needs-validation" novalidate>
          <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preferência</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Escolher...</option>
                  {% for Produto in produtos %}
                  <option>{{ Produto.nome }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-auto my-1">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <button class="btn btn-primary" type="button"  id="addInput">Adicionar</button>
                  
                </div>
              </div>
              {% for Produto in produtos %} {%if Produto.nome == "teste2" %}{{Produto.preco}}{%endif%}{%endfor%} 
            </div>
      </form>
    </div>
  </div>

</div>
<script>
			$(function () {
			    var scntDiv = $('#produto');
          var preco;
          var QtdAcomodacaoD = $("#inlineFormCustomSelect option:selected").text();
			    $(document).on('click', '#addInput', function () {
 
            $.getJSON('/orcamento/adicionar/produto/', {
        nome: QtdAcomodacaoD,
        
      }, function(data) {
        preco = data.preco;
      });
            
			        $('<li class="list-group-item d-flex justify-content-between lh-condensed">'+
          '<div>'+
            '<h6 class="my-0">'+QtdAcomodacaoD+'</h6>'+
            '<small class="text-muted">Brief description</small>'+
          '</div>'+
          '<span class="text-muted" id="preco">'+preco+'</span>'+
        '<a class="btn btn-danger" href="javascript:void(0)" id="remInput">'+
							'<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> '+
							'Remover produto'+
		        		'</a>'+'</li>').appendTo(scntDiv);
                
			        return false;
			    });
			    $(document).on('click', '#remInput', function () {
		            $(this).parents('li').remove();
			        return false;
			    });
			});
			</script>
{% endblock %}