{% extends "baseNavbar.html" %}

{% block content %}
<head>
        <title>Relatório de Orçamentos</title>
  </head>
<div class="container  text-center">
        <h1> Relatório de Orçamentos </h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-danger">
            <td><b>Codigo</b></td>
            <td><b>Data</b></td>
            <td><b>Data de validade</b></td>
            <td><b>dias úteis</b></td>
            <td><b>Status</b></td>
            <td><b>Total</b></td>
        </tr>
    </thead>
    {% for orcamento in orcamentos %}
    <tr>
        <td>{{ orcamento[0][0]}}</td>
        <td>{{ orcamento[2]}}</td>
        <td>{{ orcamento[1]}}</td>
        <td>{{ orcamento[0][3]}}</td>
        <td>{{ orcamento[0][4]}}</td>
        <td>{{ orcamento[3]}}</td>
        <td><a href="../../../imprimir/orcamento/{{orcamento[0][0]}}" class="btn btn-primary btn-lg btn-block btn-sm" role="button" aria-pressed="true">Abrir</a></td>
    </tr>
    
    {% endfor %}

</table>
</div>
<div class="row mx-1">
        <div class="col-md-5 mb-3">
            <label for="Total">Total do periodo selecionado</label>
            <input type="text" class="form-control" id="Total" name="Total" value="{{total}}" readonly="readonly"required>
            
        </div>
</div>






{% endblock %}
</div>