{% extends "baseNavbar.html" %}
{% block head %}
{% endblock %}
{% block content %}
<head>
        <title>Relatório de Pedidos</title>
  </head>
<div class="container  text-center">
        <h1> Relatório de Pedidos </h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-danger">
            <td><b>Orçamento</b></td>
            <td><b>CPF</b></td>
            <td><b>Data do peido</b></td>
            <td><b>Data da entrega</b></td>
            <td><b>valor</b></td>
        </tr>
    </thead>
    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido[0][1] }}</td>
        <td>{{ pedido[0][2] }}</td>
        <td>{{ pedido[2] }}</td>
        <td>{{ pedido[1] }}</td>
        <td class="dinheiro">{{ pedido[3] }}</td>
        <td><a href="../../../Pedido/verificar/{{pedido[0][0]}}" class="btn btn-danger btn-lg btn-block btn-sm" role="button" aria-pressed="true">Abrir</a></td>

    </tr>
    {% endfor %}
</table>
</div>
<div class="row mx-1">
          <div class="col-md-5 mb-3">
              <label for="Total">Total do periodo selecionado</label>
              <input type="text" class="form-control" id="Total" name="Total" value="{{total}}" readonly="readonly"required>
              
          </div>
{% endblock %}
