{% extends "baseNavbar.html" %}
{% block content %}

<div class="container">   
       <form>
          <div class="form-group col-md-3">
            <label for="Data">Data Inicial</label>
            <input type="date" class="form-control" id="Data" placeholder="Digite a Data" autofocus>
          </div>
          <div class="form-group col-md-3">
            <label for="Data">Data Final</label>
            <input type="date" class="form-control" id="Data" placeholder="Digite a Data" autofocus>
          </div>
        <div class="form-group col-md-6">
            <label for="Nome">Nome Do Cliente</label>
            <input type="text" class="form-control" id="Nome" placeholder="Escolha Ou Digite o Cliente...">
        </div>
        <div class="form-group col-md-6">
            <label for="Nome">Nome Do Produto</label>
            <input type="text" class="form-control" id="Nome" placeholder="Escolha Ou Digite o Produto...">
        </div>
        
        <button type="submit" class="btn btn-primary">Pesquisar</button>
              
      </form>




{% endblock %}