{% extends "baseNavbar.html" %}
{% block head %}
<script src="{{ url_for('static', filename = 'scriptRelatorio.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="my-5 px-0">
  <form id="formtiporelatorio">
    <div class="col-3">
    <label  for="tipoRelatorio">Escolha um tipo de relatório</label>
    <select class="custom-select mr-sm-2" id="tipoRelatorio" name="tipoRelatorio">
    <option selected>Escolher...</option>
    <option>Orçamento</option>
    <option>Pedido</option>
    </select>
    <input type="text" class="form-control invisible" id="Nome" name="acao"value="pesquisar">
    </div>
  </form>
<div class="my-4 mx-0" id="Relatorio">
</div>
</div>


{% endblock %}