{% extends "baseNavbar.html" %}
{% block content %}
<head>
        <title>Relatório de Pedidos</title>
  </head>
<div class="container  text-center">
        <h1> Relatório de Pedidos </h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-danger">
            <td><b>ID</b></td>
            <td><b>ID Orçamento</b></td>
        </tr>
    </thead>
    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.orcamento_id }}</td>

    </tr>
    {% endfor %}
</table>
      <a href="#" class="btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Enviar por Email</a>






{% endblock %}
</div>